# "ignore = untracked" on packages I do not manage

[submodule "superlu"]
	path = superlu
	url = https://aur.archlinux.org/superlu.git
	ignore = untracked

[submodule "combblas"]
	path = combblas
	url = https://aur.archlinux.org/combblas.git
	ignore = untracked

[submodule "superlu_dist"]
	path = superlu_dist
	url = https://aur.archlinux.org/superlu_dist.git
	ignore = untracked

[submodule "scalapack"]
	path = scalapack
	url = https://aur.archlinux.org/scalapack.git
	ignore = untracked

[submodule "hypre"]
	path = hypre
	url = https://aur.archlinux.org/hypre.git
	ignore = untracked

[submodule "mumps-par"]
	path = mumps-par
	url = https://aur.archlinux.org/mumps-par.git
	ignore = untracked

[submodule "petsc"]
	path = petsc
	url = https://aur.archlinux.org/petsc.git
	ignore = untracked

[submodule "petsc-complex"]
	path = petsc-complex
	url = https://aur.archlinux.org/petsc-complex.git

[submodule "slepc"]
	path = slepc
	url = https://aur.archlinux.org/slepc.git
	ignore = untracked

[submodule "petsc4py"]
	path = petsc4py
	url = https://aur.archlinux.org/petsc4py

[submodule "slepc4py"]
	path = slepc4py
	url = https://aur.archlinux.org/slepc4py

[submodule "python-ffc"]
	path = python-ffc
	url = https://aur.archlinux.org/python-ffc.git

[submodule "python-ufl"]
	path = python-ufl
	url = https://aur.archlinux.org/python-ufl.git

[submodule "python-dijitso"]
	path = python-dijitso
	url = https://aur.archlinux.org/python-dijitso.git

[submodule "python-fiat"]
	path = python-fiat
	url = https://aur.archlinux.org/python-fiat.git

[submodule "dolfin"]
	path = dolfin
	url = https://aur.archlinux.org/dolfin.git

[submodule "python-dolfin"]
	path = python-dolfin
	url = https://aur.archlinux.org/python-dolfin.git

[submodule "python-mshr"]
	path = python-mshr
	url = https://aur.archlinux.org/python-mshr.git

[submodule "mshr"]
	path = mshr
	url = https://aur.archlinux.org/mshr.git
