pkgbase = hypre-sm
	pkgdesc = A library for solving large, sparse linear systems on massively parallel computers
	pkgver = 2.14.0
	pkgrel = 1
	url = http://acts.nersc.gov/hypre
	arch = i686
	arch = x86_64
	license = lgpl
	depends = gcc-libs
	depends = gcc-fortran
	depends = openmpi
	depends = blas
	depends = lapack
	depends = superlu
	provides = hypre=2.14.0
	conflicts = hypre
	source = hypre-2.14.0.tar.gz::https://github.com/LLNL/hypre/archive/v2.14.0.tar.gz
	sha256sums = 10cfcd555618137c194958f84f44724fece45b58c59002d1195fed354e2ca16c

pkgname = hypre-sm

